* {
    box-sizing: border-box;
}

header{
height:101px;
box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
position:relative;
}
.header-container{
  max-width:1440px;
  margin:0 auto;
  height:100%;
  display:flex;
  justify-content: space-between;
}

.logos{
 width:51px;
 height:51px;

}
.logos img{

  height:100%;
}
.left-nav{
  display:flex;
  align-items:center;
  height:100%;
}
.left-nav nav ul{
list-style-type: none;
margin:0;
display:flex;
}
.left-nav nav ul li{
  text-transform:uppercase;
  padding-left:8px;
  font-weight:700px;
  line-height:1.2;
  cursor:pointer;
}
nav ul li a{
  text-decoration: none;
  color:black;
}
.right-nav{
  display:flex;
  align-items:center;
  height:100%;
}

.find-store {
  display:flex;
  align-items:center;
  font-weight:600;
  margin-right:20px;
}

.find-store i{
    padding-right: 8px;
    font-size: 24px;
    cursor: pointer;
}
.sign-in , .join-now{
  display:flex;
  align-items:center;
  border:1px solid black;
  border-radius:50px;
  font-weight:600;
  line-height:1.2;
}
.sign-in {
  padding:7px 16px;
 color:black;
  text-decoration:none;
  margin-right:20px;
}


.join-now {
  margin-right:20px;
  color:white;
  background:black;
  padding:7px 16px;

}

footer .content-mobile{
  display:none;
}

.img{
  width:600px;
}
